<%= form_with model: price_sheet, class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" do |form| %>
  <div class="tab mb-4">
    <%= form.label "Name", class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :name, value: price_sheet.name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="tab mb-4">
    <%= form.label "Active", class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.check_box :active, value: price_sheet.active %>
  </div>

  <%= form.submit "Save", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer" %>
<% end %>
