<!DOCTYPE html>
<html>
  <head>
    <title>BurgerBot</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <section>
        <nav>
          <div class="p-2 flex justify-between bg-black">
            <h3 class="text-2xl text-white">
              <%= link_to "BurgerBot", orders_path, class: "px-1 text-white" %>
            </h3>
            <div class="flex">
              <% if user_signed_in? %>
                <%= link_to "Orders", orders_path, class: "px-1 text-white hover:text-blue-400" %>
                <%= link_to "Ingredients", ingredients_path, class: "px-1 text-white hover:text-blue-400" %>
                <% if Flipper.enabled?(:price_sheets, current_user) %>
                  <%= link_to "Price Sheets", price_sheets_path, class: "px-1 text-white hover:text-blue-400" %>
                <% end %>
                <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "px-1 text-white hover:text-blue-400" %>
              <% else %>
                <%= link_to "Sign In", new_user_session_path, class: "px-1 text-white hover:text-blue-400" %>
                <%= link_to "Sign Up", new_user_registration_path, class: "px-1 text-white hover:text-blue-400" %>
              <% end %>
            </div>
          </div>
        </nav>
      </section>
    </header>
    <main class="container mx-auto mt-10 px-5">
      <p id="notice"><%= notice %></p>
      <%= yield %>
    </main>
  </body>
</html>
