<!DOCTYPE html>
<html>
  <head>
    <title>BurgerBot</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <section>
        <nav>
          <div class="p-2 flex justify-between bg-black">
            <h3 class="text-2xl text-white">
              <%= link_to "BurgerBot", orders_path, class: "px-1 text-white" %>
            </h3>
            <div>
              <%= link_to "Orders", orders_path, class: "px-1 text-white hover:text-blue-400" %>
              <%= link_to "Ingredients", ingredients_path, class: "px-1 text-white hover:text-blue-400" %>
            </div>
          </div>
        </nav>
      </section>
    </header>
    <main class="container mx-auto mt-10 px-5">
      <%= yield %>
    </main>
  </body>
</html>
